* {
  background-color: azure;
  text-align: center;
}
img {
  height: 300px;
}

main {
  justify-content: space-between;
}

#groups {
  grid-template-columns: auto auto;
  font-weight: bold;
  margin: auto;
  width: 700px;
  display: grid;
  justify-content: space-around;
}

#userGroups {
  grid-template-columns: auto auto;
  font-weight: bold;
  margin: auto;
  width: 700px;
  display: grid;
  justify-content: space-around;
}

#userGroupContainer h2,
p {
  background-color: rgb(214, 231, 246);
}

#userGroupContainer {
  border-radius: 15px;
  margin: 10px;
  height: 120px;
  width: 200px;
  background-color: rgb(214, 231, 246);
}

#groupContainer h2,
p {
  background-color: rgb(214, 231, 246);
}

#groupContainer {
  border-radius: 15px;
  margin: 10px;
  height: 120px;
  width: 200px;
  background-color: rgb(214, 231, 246);
}

input {
  border-radius: 3px;
}

button {
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  height: 30px;
  margin-top: 25px;
  border-radius: 3px;
}
footer {
  margin-left: 800px;
  width: 300px;
  display: grid;
  text-align: center;
}

form {
  display: grid;
  text-align: center;
}
